@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Fight Right Home</h1>
	<p class="lead">Work In Progress.</p>
</div>

 <marquee width="120" scrollamount="5" scrolldelay="86" height="18" bgcolor="#FF0000">

	<font size="4">Fight Right </font>
</marquee>