@using System.Data;
@using System.Web.Optimization;


@{
	ViewBag.Title = "Home Page";
}






<div class="container-fluid px-4 text-center" style="width:80%">
	<h1 class="mt-4 text-black" style="text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; ">FIGHT RIGHT</h1>
	<h3 class="mt-4 text-black" style="text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; ">FIND YOUR FIGHT</h3>
	<div>
		<hr />
	</div>


</div>

