
@{
	ViewBag.Title = "Fighter Comparison";
}

<h2>@ViewBag.Title</h2>

<label for="fighters">Fighter 1:</label>

<select name="fighters" id="fighter">
	<option value="Francis Ngannou">Francis Ngannou</option>
	<option value="Cyril Gane">Cyril Gane</option>

</select>
&nbsp;
<label for="fighters">Fighter 2:</label>

<select name="fighters" id="fighter">
	<option value="Francis Ngannou">Francis Ngannou</option>
	<option value="Cyril Gane">Cyril Gane</option>

</select>